.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-text-1 {margin: 20px auto 0}
.u-section-1 .u-text-2 {margin: 20px auto 0}
.u-section-1 .u-text-3 {font-size: 1.5rem; margin: 20px auto 0}
.u-section-1 .u-text-4 {font-weight: 700; font-size: 1.625rem; margin: 20px auto 0}
.u-section-1 .u-image-1 {width: 696px; height: 350px; margin: 30px auto 0}
.u-section-1 .u-text-5 {font-size: 1.5rem; margin: 30px auto 0}
.u-section-1 .u-text-6 {font-weight: 700; font-size: 1.625rem; margin: 20px auto 0}
.u-section-1 .u-image-2 {width: 824px; height: 429px; margin: 30px auto 0}
.u-section-1 .u-text-7 {font-size: 1.5rem; margin: 30px auto 0}
.u-section-1 .u-text-8 {font-size: 1.625rem; font-weight: 700; margin: 20px auto 0}
.u-section-1 .u-image-3 {width: 759px; height: 384px; margin: 30px auto 0}
.u-section-1 .u-text-9 {font-size: 1.5rem; margin: 30px auto 0}
.u-section-1 .u-text-10 {font-weight: 700; font-size: 1.625rem; margin: 20px auto 0}
.u-section-1 .u-image-4 {width: 916px; height: 478px; margin: 30px 107px 0 auto}
.u-section-1 .u-text-11 {font-size: 1.5rem; margin: 30px auto 0}
.u-section-1 .u-text-12 {font-weight: 700; font-size: 1.625rem; margin: 20px auto 0}
.u-section-1 .u-image-5 {width: 725px; height: 365px; margin: 30px auto 0}
.u-section-1 .u-text-13 {margin: 30px auto 0}
.u-section-1 .u-text-14 {font-size: 1.5rem; margin: 20px auto 0}
.u-section-1 .u-text-15 {font-weight: 700; font-size: 1.625rem; margin: 20px auto 0}
.u-section-1 .u-image-6 {width: 908px; height: 303px; margin: 30px auto 0}
.u-section-1 .u-text-16 {font-size: 1.5rem; margin: 30px auto 0}
.u-section-1 .u-text-17 {font-weight: 700; font-size: 1.625rem; margin: 20px auto 0}
.u-section-1 .u-image-7 {width: 722px; height: 362px; margin: 30px auto 0}
.u-section-1 .u-text-18 {font-size: 1.5rem; margin: 30px auto 0}
.u-section-1 .u-text-19 {margin: 20px auto 0}
.u-section-1 .u-text-20 {font-size: 1.5rem; margin: 20px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-image-4 {margin-right: 24px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 446px}
.u-section-1 .u-image-2 {width: 720px; height: 375px}
.u-section-1 .u-image-3 {width: 720px; height: 364px}
.u-section-1 .u-image-4 {width: 720px; height: 376px; margin-right: 0}
.u-section-1 .u-image-5 {width: 720px; height: 362px}
.u-section-1 .u-image-6 {width: 720px; height: 240px}
.u-section-1 .u-image-7 {width: 720px; height: 361px} }

@media (max-width: 767px){ .u-section-1 .u-image-1 {width: 540px; height: 272px}
.u-section-1 .u-image-2 {width: 540px; height: 281px}
.u-section-1 .u-image-3 {width: 540px; height: 273px}
.u-section-1 .u-image-4 {width: 540px; height: 282px}
.u-section-1 .u-image-5 {width: 540px; height: 272px}
.u-section-1 .u-image-6 {width: 540px; height: 180px}
.u-section-1 .u-image-7 {width: 540px; height: 271px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {width: 340px; height: 171px}
.u-section-1 .u-image-2 {width: 340px; height: 177px}
.u-section-1 .u-image-3 {width: 340px; height: 172px}
.u-section-1 .u-image-4 {width: 340px; height: 178px}
.u-section-1 .u-image-5 {width: 340px; height: 171px}
.u-section-1 .u-image-6 {width: 340px; height: 113px}
.u-section-1 .u-image-7 {width: 340px; height: 171px} }.u-section-2 .u-sheet-1 {min-height: 250px}
.u-section-2 .u-layout-wrap-1 {width: 1084px; margin: 53px auto 25px 28px}
.u-section-2 .u-layout-cell-1 {min-height: 125px}
.u-section-2 .u-container-layout-1 {padding: 20px 60px}
.u-section-2 .u-btn-1 {background-image: none; border-style: solid; margin: 0 auto 0 0}
.u-section-2 .u-layout-cell-2 {min-height: 125px}
.u-section-2 .u-container-layout-2 {padding: 20px} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {width: 894px; margin-left: 23px}
.u-section-2 .u-container-layout-1 {padding-left: 16px; padding-right: 16px} }

@media (max-width: 991px){ .u-section-2 .u-layout-wrap-1 {width: 685px; margin-left: 18px; margin-right: 18px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 96px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-2 .u-layout-wrap-1 {width: 513px; margin-right: auto; margin-left: 13px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-2 {min-height: 254px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-layout-wrap-1 {width: 323px; margin-top: 63px; margin-left: 8px}
.u-section-2 .u-layout-cell-2 {min-height: 160px} }