.u-section-1 .u-sheet-1 {min-height: 8517px}
.u-section-1 .u-text-1 {margin: 20px auto 0}
.u-section-1 .u-text-2 {font-size: 1.5rem; margin: 20px auto 0}
.u-section-1 .u-text-3 {font-size: 1.625rem; font-weight: 700; margin: 20px auto 0}
.u-section-1 .u-image-1 {width: 879px; height: 416px; margin: 30px auto 0}
.u-section-1 .u-text-4 {font-size: 1.5rem; margin: 30px auto 0}
.u-section-1 .u-text-5 {font-size: 1.625rem; font-weight: 700; margin: 20px auto 0}
.u-section-1 .u-image-2 {width: 921px; height: 432px; margin: 30px auto 0}
.u-section-1 .u-text-6 {font-size: 1.5rem; margin: 30px auto 0}
.u-section-1 .u-text-7 {margin: 20px auto 0}
.u-section-1 .u-text-8 {font-size: 1.5rem; margin: 20px auto 0}
.u-section-1 .u-text-9 {font-size: 1.625rem; font-weight: 700; margin: 20px auto 0}
.u-section-1 .u-image-3 {width: 925px; height: 439px; margin: 30px auto 0}
.u-section-1 .u-text-10 {font-size: 1.5rem; margin: 30px auto 0}
.u-section-1 .u-text-11 {font-size: 1.625rem; font-weight: 700; margin: 20px auto 0}
.u-section-1 .u-image-4 {width: 910px; height: 436px; margin: 46px auto 0}
.u-section-1 .u-text-12 {margin: 30px auto 0}
.u-section-1 .u-text-13 {font-size: 1.5rem; margin: 20px auto 0}
.u-section-1 .u-text-14 {font-size: 1.625rem; font-weight: 700; margin: 20px auto 0}
.u-section-1 .u-image-5 {width: 885px; height: 419px; margin: 46px auto 0}
.u-section-1 .u-text-15 {font-size: 1.5rem; margin: 30px auto 0}
.u-section-1 .u-text-16 {font-size: 1.625rem; font-weight: 700; margin: 20px auto 0}
.u-section-1 .u-image-6 {width: 890px; height: 423px; margin: 30px auto 0}
.u-section-1 .u-text-17 {margin: 30px auto 0}
.u-section-1 .u-text-18 {font-size: 1.5rem; margin: 20px auto 0}
.u-section-1 .u-text-19 {font-size: 1.625rem; font-weight: 700; margin: 20px auto 0}
.u-section-1 .u-image-7 {width: 868px; height: 410px; margin: 30px auto 0}
.u-section-1 .u-text-20 {font-size: 1.5rem; margin: 30px auto 0}
.u-section-1 .u-text-21 {font-size: 1.625rem; font-weight: 700; margin: 20px auto 0}
.u-section-1 .u-image-8 {width: 978px; height: 465px; margin: 30px auto 0}
.u-section-1 .u-text-22 {font-size: 1.5rem; margin: 30px auto 0}
.u-section-1 .u-text-23 {font-size: 1.625rem; font-weight: 700; margin: 20px auto 0}
.u-section-1 .u-image-9 {width: 956px; height: 462px; margin: 30px auto 0}
.u-section-1 .u-text-24 {font-size: 1.5rem; margin: 30px auto 0}
.u-section-1 .u-text-25 {font-weight: 700; font-size: 1.625rem; margin: 20px auto 0}
.u-section-1 .u-image-10 {width: 976px; height: 465px; margin: 30px auto 0}
.u-section-1 .u-text-26 {font-size: 1.5rem; margin: 30px auto 0}
.u-section-1 .u-text-27 {font-size: 1.625rem; font-weight: 700; margin: 20px auto 0}
.u-section-1 .u-image-11 {width: 884px; height: 418px; margin: 30px auto 0}
.u-section-1 .u-text-28 {font-size: 1.5rem; margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 8499px}
.u-section-1 .u-image-8 {width: 940px; height: 447px}
.u-section-1 .u-image-9 {width: 940px; height: 454px}
.u-section-1 .u-image-10 {width: 940px; height: 448px} }

@media (max-width: 991px){ .u-section-1 .u-image-1 {width: 720px; height: 341px}
.u-section-1 .u-image-2 {width: 720px; height: 338px}
.u-section-1 .u-image-3 {width: 720px; height: 341px}
.u-section-1 .u-image-4 {width: 720px; height: 345px}
.u-section-1 .u-image-5 {width: 720px; height: 341px}
.u-section-1 .u-image-6 {width: 720px; height: 342px}
.u-section-1 .u-image-7 {width: 720px; height: 340px}
.u-section-1 .u-image-8 {width: 720px; height: 342px}
.u-section-1 .u-image-9 {width: 720px; height: 348px}
.u-section-1 .u-image-10 {width: 720px; height: 343px}
.u-section-1 .u-image-11 {width: 720px; height: 340px} }

@media (max-width: 767px){ .u-section-1 .u-image-1 {width: 540px; height: 256px}
.u-section-1 .u-image-2 {width: 540px; height: 254px}
.u-section-1 .u-image-3 {width: 540px; height: 256px}
.u-section-1 .u-image-4 {width: 540px; height: 259px}
.u-section-1 .u-image-5 {width: 540px; height: 256px}
.u-section-1 .u-image-6 {width: 540px; height: 257px}
.u-section-1 .u-image-7 {width: 540px; height: 255px}
.u-section-1 .u-image-8 {width: 540px; height: 257px}
.u-section-1 .u-image-9 {width: 540px; height: 261px}
.u-section-1 .u-image-10 {width: 540px; height: 257px}
.u-section-1 .u-image-11 {width: 540px; height: 255px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {width: 340px; height: 161px}
.u-section-1 .u-image-2 {width: 340px; height: 160px}
.u-section-1 .u-image-3 {width: 340px; height: 161px}
.u-section-1 .u-image-4 {width: 340px; height: 163px}
.u-section-1 .u-image-5 {width: 340px; height: 161px}
.u-section-1 .u-image-6 {width: 340px; height: 162px}
.u-section-1 .u-image-7 {width: 340px; height: 161px}
.u-section-1 .u-image-8 {width: 340px; height: 162px}
.u-section-1 .u-image-9 {width: 340px; height: 164px}
.u-section-1 .u-image-10 {width: 340px; height: 162px}
.u-section-1 .u-image-11 {width: 340px; height: 161px} }.u-section-2 .u-sheet-1 {min-height: 250px}
.u-section-2 .u-layout-wrap-1 {width: 1084px; margin: 53px auto 25px 28px}
.u-section-2 .u-layout-cell-1 {min-height: 125px}
.u-section-2 .u-container-layout-1 {padding: 20px 60px}
.u-section-2 .u-btn-1 {background-image: none; border-style: solid; margin: 0 auto 0 50px}
.u-section-2 .u-layout-cell-2 {min-height: 125px}
.u-section-2 .u-container-layout-2 {padding: 20px}
.u-section-2 .u-btn-2 {background-image: none; border-style: solid; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {width: 894px; margin-left: 23px}
.u-section-2 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-btn-1 {margin-left: 0} }

@media (max-width: 991px){ .u-section-2 .u-layout-wrap-1 {width: 685px; margin-left: 18px; margin-right: 18px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-2 .u-layout-wrap-1 {width: 513px; margin-right: auto; margin-left: 13px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-layout-wrap-1 {width: 323px; margin-top: 63px; margin-left: 8px} }